.grid-news {
    --ion-grid-column-padding: 0;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
}

ion-col.flex {
    display: flex;
}

ion-card.custom {
    box-shadow: none !important;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 16px;
    display: flex;
}

ion-card.custom ion-card-header {
    padding-left: 0;
    padding-right: 0;
}

ion-card.custom ion-card-content {
    padding: 0;
}

.ion-card-image {
    height: 232px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}

.ion-card-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 16px;
}

ion-buttons.ion-card-buttons {
    margin-top: auto;
    align-self: flex-end;
}
