ion-input.custom {
  --highlight-color-focused: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  ion-input.custom {
    --highlight-color-focused: #FFFFFF;
  }
}

ion-title.title-lage {
  font-size: 56px;
}

ion-title.black {
  color: black;
}

ion-item.custom {
  --padding-start: 0;
}

ion-item.custom:has(.ion-invalid){
  border-bottom: none !important;
  --border-color: transparent;
}

ion-button.ion-margin-top {
  margin-top: 28px;
}

ion-col.small {
  font-size: 12px;
  line-height: 120% !important;
  color: gray;
}


.form {
  width: 100%;

  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3rem;
}

@media (max-width: 768px) {
  .form {
    padding: 1rem;
  }
}