.container {
    max-width: 1440px;
    padding: 20px clamp(40px, 5.56vw, 80px);
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        padding:  16px;
    }
}

.grid-news {
    --ion-grid-column-padding: 0;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
    /* margin-top: 32px; */
}

ion-col.flex {
    display: flex;
}
