ion-accordion ion-label {
    font-weight: 700;
}

ion-accordion.open .ion-accordion-toggle-icon {
    color: #0054e9;
}

ion-accordion-group.custom ion-accordion {
    border-radius: 8px !important;
    border: 1px solid lightgray !important;

}

ion-accordion-group.custom ion-item {
    --ion-color-base: transparent !important;
    --border-width: 0 0 0 0 !important;
}
