.article-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px clamp(40px, 5.56vw, 80px);
    width: 100%;
    max-width: 1440px;
}

@media (max-width: 768px) {
    .article-container {
        padding:  16px;
        flex-direction: column;
    }
}
